﻿@page
@model CrudRazor.Pages.Curso.CreateModel
@{
    ViewData["Title"] = "Crear Curso"; 
}
<br />
<h2 class="text-info">Crear Nuevo Curso</h2>
<div class="border">
    <form method="post">
       <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
       <div class="container" style="padding:30px">
           <div class="form-group">
               <div class="row">
                   <div class="col-sm-2">
                       <label asp-for="Curso.NombreCurso"></label>
                   </div>
                   <div class="col-sm-4">
                       <input asp-for="Curso.NombreCurso" class="form-control" />
                   </div>
                   <span asp-validation-for="Curso.NombreCurso" class="text-danger"></span>
               </div>
           </div>
           <div class="form-group">
               <div class="row">
                   <div class="col-sm-2">
                       <label asp-for="Curso.CantClases"></label>
                   </div>
                   <div class="col-sm-4">
                       <input asp-for="Curso.CantClases" class="form-control" />
                   </div>
                   <span asp-validation-for="Curso.CantClases" class="text-danger"></span>
               </div>
           </div>
           <div class="form-group">
               <div class="row">
                   <div class="col-sm-2">
                       <label asp-for="Curso.Precio"></label>
                   </div>
                   <div class="col-sm-4">
                       <input asp-for="Curso.Precio" class="form-control" />
                   </div>
                   <span asp-validation-for="Curso.Precio" class="text-danger"></span>
               </div>
           </div>
           <div class="form-group">
               <div class="row">
                   <div class="col-sm-2 offset-sm-2">
                       <input type="submit" value="Crear" class="btn  btn-primary form-control" />
                   </div>
                   <div class="col-sm-2">
                       <a asp-page="Index"  class="btn btn-warning">Regresar</a>
                   </div>
               </div>
           </div>
       </div>
    </form>
</div>