﻿@page
@model CrudRazor.Pages.Curso.IndexModel
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Listado de Cursos</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Crear Nuevo Curso</a>
    </div>
</div>
<form method="post">
    @if (Model.Cursos.Count() > 0)
    {
        <br />
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>Nombre del Curso</th>
                <th>Cant. Clases </th>
                <th>Precio </th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model.Cursos)
            {
                <tr>
                    <td>@item.NombreCurso</td>
                    <td>@item.CantClases</td>
                    <td>@item.Precio</td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Esta seguro de querer borrar el curso')" class="btn  btn-danger btn-sm">Borrar</button>
                        <a asp-route-id="@item.Id" asp-page="Edit" class="btn btn-success btn-sm">Editar</a>

                    </td>

                </tr>

            }

        </table>
    }
    else
    {
        <p>No Hay registros</p>
    }
</form>